@import url(https://fonts.googleapis.com/css?family=Comfortaa);

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, 'Comfortaa';
}




/*
Add some style blocks below this line to style the card.
*/
.page-section {
    box-sizing: border-box;
    border: dotted 1px #CCC; 
    width: 100%;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    
    margin: 10px;
    /*
    Alternative syntax:
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    */
}